body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; 
}
#button-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#btn {
    width: 50vh; 
    height: 50vh; 
    border-radius: 50%;
    background-color: red;
    border: none;
    color: white;
    font-size: 24px;
}

#btn:hover {
    background-color: darkred;
    cursor: pointer;
}
